body {
  font-family: sans-serif;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

input {
  margin: 8px 0;
  padding: 10px;
}

#message {
  margin-top: 20px;
  font-weight: bold;
}

.error {
  color: red;
}
.success {
  color: green;
}
